<div id="youtube-player-{{ url }}" class="youtube-player py-7">
    <div id="video-{{ url }}">
    	<amp-iframe
			width="600"
			height="400"
			sandbox="allow-scripts allow-same-origin allow-presentation"
			layout="responsive"
			frameborder="0"
			src="{{ url }}">
		</amp-iframe>
    </div>
</div>