<div class="galeria teaser" {{ attributes.addClass(classes) }}>
    <div class="image mb-4">
        {% if node.hasField('field_images') %}
            {{ content.field_images }}
        {% endif %}
    </div>
    <div class="tw-text-sm">
        <a href="{{ url }}">{{ label }}</a>
    </div>
</div>