<div class="user compact tw-max-width-sm" {{ attributes }}>
    <div class="tw-flex flex text-sm">
        <div class="image self-center tw-mr-4 md:tw-mr-0 md:tw-w-3/12">{{ content.field_image }}</div>
        <div class="text-sm md:tw-w-9/12">
            <div class="nombres self-center lead">{{ content.field_nombres }}</div>
            <div class="twitter self-center">{{ content.field_twitter }}</div>   
        </div>
    </div>
</div>