<div class="user compact" {{ attributes }}>
    <div class="tw-flex flex text-sm">
        <div class="image self-center">{{ content.field_image }}</div>
        <div class="nombres tw-px-2 self-center lead">{{ content.field_nombres }}</div>
        <div class="twitter self-center">
            {{ content.field_twitter }}
        </div>    
    </div>
</div>