<div class="user compact" {{ attributes }}>
    <div class="tw-flex tw-items-center">
        <div class="image">{{ content.field_image }}</div>
        <div class="nombres tw-px-2">{{ content.field_nombres }}</div>
        <div class="twitter">
            {{ content.field_twitter }}
        </div>    
    </div>
</div>