// Non-modular or client styles for .l-footer region.
footer{
    background-color: $win-green-dark; 
}

.after-content{
    background-color: $win-gray
}

.pre-footer{
    background-color: $win-greem-alternative; 
}