// Non-modular or client styles for .l-header region.


.tool-meta-header{
    background-color: $win-green-dark;
}

.meta-header{
    background-color: $win-green;
}

.sub-meta-header{
    background-color: $win-gray;
}