
/*
*  Winsports Colors  
*/

$win-primary: #f45205;
$win-green-ligth: #4ffac2;
$win-green-dark: #0a272b;
$win-green: #0f3b40;
$win-greem-alternative: #0e3c44;
$win-gray: #e4e4e4;
$win-title: #0e3b45;
$win-yellow: #f7cd04;


/*
* Fonts size
*/

$win-menu-small: 0.6vw;
$win-menu: 0.8vw;
$win-title-color:#0e3c42;




