<div id="youtube-player-{{ url }}" class="youtube-player tw-bg-gray-650">
    <div id="video-{{ url }}">
        <iframe width="100%" height="500" src="{{ url }}" frameborder="0" allowfullscreen></iframe>
    </div>
</div>