<div id="dugout-player-{{ dugout_id }}" class="dugout-player tw-bg-gray-650">
    <div id="video-{{ dugout_id }}" class="mb-4 lg:mb-0">
        <div class="image tw-relative tw-cursor-pointer" data-id="{{ dugout_id }}">
            {{ image }}
            <div class="tw-absolute tw-top-0 tw-left-0 play-icon tw-w-full tw-h-full tw-flex tw-items-center tw-justify-center">
                <img src="/themes/custom/tailwindcss/images/icons/play.png" alt="Play" class="tw-h-24 tw-w-24 tw-opacity-100">
            </div>
        </div>
    </div>
</div>