.copy-rights{
    color: white;
} 

#block-socialmedialinks{
    text-align: center;

    .fa-2x{
        color:white;
    }
    ul.platforms {
        li{
            border: 3px solid white;
            border-radius: 50%;
        }
    }
    
}