.copy-rights {
  color: $pure-white;
}
.block-title{
  font-family: $font-family-title;
  letter-spacing: 0.025em;
  font-weight: 500;
}
#block-socialmedialinks {
  text-align: center;

  .fa-2x {
    color: $pure-white;
  }

  ul.platforms {
    li {
      border: 3px solid $pure-white;
      border-radius: 50%;
    }
  }

}

.more-link {

  @include buttons($win-green-ligth, 10px, 76px, $win-green)

}

#block-views-block-goles-liga-aguila-block-1 {

}

#block-views-block-lo-ultimo-block-1 {

}

#block-views-block-equipos-home-block-1, #block-views-block-equipos-home-block-1-2 {
  ul {
    text-align: center;

    li {
      display: inline-block;
    }
  }
}


h3 {
  &.slider-items-title {
    font-size: 12px;
  }
}

.list-decoration-none {
  .item-list {
    ul {
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        padding: 0;
      }
    }
  }

}


.win-play {
  background: url('/themes/custom/winsports/images/win-play.png') no-repeat;
  bottom: 0;
  height: 47px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
}

#block-views-block-patrocinadores-block-1 {
  h2 {
    display: inline-block;
    float: left;
    width: 30%;
  }
}
