#header-page{
  @apply fixed top-0 z-10 w-full;
}

#top-content{
  .custom-ads-form{
    img {
      @apply tw-mx-auto;
    }
  }
}

#meta-header{
  >div {
    @apply flex justify-between;
  }
}

#block-toplinks,
#block-envivo{
  ul:not(.contextual-links){
    @apply flex justify-start bg-primary;
    li{
      a{
        @apply uppercase text-white pr-6;
      }
    }
  }
}
#block-tailwindcss-main-menu {
  ul:not(.contextual-links){
    @apply flex justify-start bg-primary;
    li{
      a{
        @apply uppercase text-white px-6;
      }
    }
  }
}
#block-toplinks{
  @apply text-sm;
}
#block-futbolcolombiano,
#block-futbolinternacional,
.menu-secundario{
  ul:not(.contextual-links){
    @apply flex bg-gray-650 text-white justify-between flex-no-wrap overflow-x-auto;
    li{
      @apply flex-1;
      a{
        @apply text-white px-10 py-4 inline-block w-full text-center cursor-pointer whitespace-no-wrap;
        font-family:$font-title; 
        &.is-active{
          @apply bg-secondary text-primary;
        }
      }
    }
  }
  .teams-list{
    @apply bg-primary text-white p-6;
    .team-item{
      @apply px-4;
      a{
        img {
          @apply opacity-50;
        }  
        &.is-active{
          img {
            @apply opacity-100;
          }
        }
      }
    }
  }
}