/* RESPONSIVE */
.mm-menu.mm-theme-dark{
  background-color: #6cfac1;
  color: #143a42;
  .mm-navbar{
    display: none;
  }
  ul.mm-listview{
    li{
      a{
        padding: 1.2rem 1rem;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 600;
      }
    }
  }
}

#mm-blocker{
  background-color: #9bfbe0 !important;
}

.tw-bg-primary{
  header{
    > div{
      @apply flex items-center;
    }
    #block-responsivemenumobileicon{
      @apply order-first;
      .label{
        @apply hidden;
      }
    }
  }
}

#block-views-block-goles-home-block-2,
#block-views-block-goles-home-block-4{
  .gol-partido.video-player{
    .image{
      img.play-icon{
        position: absolute;
        top: 3rem;
        left: 50%;
        transform: translate(-50%,0);
      }
    }
    .title{
      font-family: $font-title;
      position: relative;
      top: 0;
      bottom: 0;
      left: 0;
      font-size: 2.25rem; 
      line-height: 1;
      letter-spacing: -0.025em;
      font-weight: 400;
      a{
        color: #0b3b41;
      }
    }
  }
  .goles-mobile{
    width: 40%;
    margin-right: 1rem;
    -webkit-flex: none;
    white-space: normal;
  }
}

.title-mobile{
  @apply mt-3;
  line-height: 1.2rem;
  @screen md{
    @apply mt-0;
    line-height: 1.4rem; 
  }
}
#block-views-block-lo-ultimo-block-1,
#block-views-block-lo-ultimo-block-2,
#block-views-block-lo-ultimo-block-3,
#block-views-block-lo-ultimo-block-4,
#block-views-block-lo-ultimo-block-5,
#block-views-block-lo-ultimo-block-6,
#block-views-block-lo-ultimo-block-7{
  .D--sliders{
    @apply hidden;
  }
  .M--sliders{
    @apply overflow-y-hidden whitespace-no-wrap flex;
    .views-row{
      width: 40%;
      margin-right: 1rem;
      -webkit-flex: none;
      white-space: normal;
      .category a{
        font-size: 0.6rem;
      }
    }
  }
  .torneo.category{
    @apply my-2;
  }
  @screen md{
    .D--sliders{
      @apply block;
    }
    .M--sliders{
      @apply hidden;
    }    
  }
}

#block-views-block-equipos-del-home-block-1,
#block-views-block-equipos-del-home-block-2{
  .M-equipos{
    @apply overflow-y-hidden whitespace-no-wrap flex;
    .views-row{
      width: 10%;
      margin-right: .75rem;
      flex: none;
    }
  }
}

.lista-torneos{
  @apply flex bg-primary p-6 mb-4;
  header {
    @apply hidden;
  }
  .views-row{
    @apply tw-pr-4 tw-pl-4;
    margin: 0 auto;
  }
  img{
    display: inline-block;
  }
}

#block-views-block-videos-opinion-block-1{
  @apply hidden;
  @screen md{
    @apply block;
  }
}

#block-views-block-videos-opinion-block-2{
  @apply tw-block;
  .title{
  @apply tw-mt-4;
  }
  @screen md{
    @apply tw-hidden;
  }
}

#block-views-block-opinion-block-3{
  @apply hidden;
    @screen md{
      @apply block;
    }
}

#block-views-block-opinion-block-2{
  @apply hidden;
    @screen md{
      @apply block;
    }
}

#block-blocktabscolumnasblogs{
  @apply block;
    @screen md{
      @apply hidden;
    }
}

#block-views-block-nomina-block-1,
#block-views-block-nomina-block-3{
  @apply hidden;
    @screen md{
      @apply block;
    }
}

#block-views-block-nomina-block-2,
#block-views-block-nomina-block-4{
  @apply block;
    @screen md{
      @apply hidden;
    }
}

#block-optageneralstats{
  .menu-secundario{
    .teams-list{
      overflow-x: auto;
      overflow-y: auto;
    }
  }
}

/* RESPONSIVE */
@screen md {
  #block-optageneralstats{
    .menu-secundario{
      overflow-x: scroll;
      overflow-y: hidden;
    }
  }
  #block-views-block-goles-home-block-1{
    @apply block;
  }
  #block-views-block-goles-home-block-2{
    @apply hidden;
  }
  #block-views-block-equipos-del-home-block-2{
    @apply -mt-6;
  }
  #block-views-block-equipos-del-home-block-1,
  #block-views-block-equipos-del-home-block-2{
    .M-equipos{
      .views-row{
        width: auto;
        @apply mr-0;
      }
    }
    div div{
      @apply flex justify-between items-center;
      img{
        @apply h-10 w-10;
      }
    }
  }
  .lista-torneos{
    @apply flex flex-wrap bg-primary p-6 mb-4;
    header {
      font-family: $font-title;
      @apply text-white w-full text-4xl block;
    }
  }
  .player-goles{
    @apply flex flex-wrap;
    > .views-row{
      @apply pr-4 w-2/3;
    }
    .views-element-container{
      @apply w-1/3;
      >div{
        @apply flex flex-col h-full justify-between;
      }
    }
  }
  nav#block-bottommenumobile{
    display: none;
  }
}

.tw-container{
  @apply tw-pt-6 tw-pb-4;
  @screen md {
    @apply tw-pt-12 tw-pb-6;
  }
}
#horizontal-results{
  .tw-container{
    @apply tw-py-0;
  }
}
.owl-item {
  width: auto;
}
nav#block-bottommenumobile{
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  ul{
    text-align: center;
    font-size: .9em;
    letter-spacing: 0;
    display: flex;
    background-color: rgba(11, 59, 65, var(--bg-opacity)) !important;
    > li{
        display: block;
        position: relative;
        width: 33.3333%;
        height: 70px;
      a{
        color: white;
        position: relative;
        transform: translateY(-35%);
        top: 60%;
        padding: .7rem .4rem;
        &::after{
          position: absolute;
          content: "";
          bottom: 34px;
          left: 0;
          right: 0;
          margin: auto;
          width: 25px;
          height: 25px;
        }
      }
      .goles{
        &::after{
          background-image: url('../images/icons/goles.png');
        }
      }
      .partidos{
        &::after{
          background-image: url('../images/icons/tv.png');
        }
      }
      .posiciones{
        &::after{
          background-image: url('../images/icons/posiciones.png');
        }
      }
    }
  }
}