/* RESPONSIVE */
#block-views-block-goles-home-block-2{
  .gol-partido.video-player{
    .image{
      img.play-icon{
        position: absolute;
        top: 3rem;
        left: 50%;
        transform: translate(-50%,0);
      }
    }
    .title{
      position: relative;
      top: 0;
      bottom: 0;
      left: 0;
      a{
        color: #0b3b41;
      }
    }
  }
  .goles-mobile{
    width: 40%;
    margin-right: 1rem;
    -webkit-flex: none;
    white-space: normal;
  }
}

#block-views-block-lo-ultimo-block-1{
  .M-lo-ultimo-slider{
    @apply overflow-y-hidden whitespace-no-wrap flex;
    .views-row{
      width: 40%;
      margin-right: 1rem;
      -webkit-flex: none;
      white-space: normal;
      .category a{
        font-size: 0.6rem;
      }
    }
  }
}


#block-views-block-equipos-del-home-block-1{
  .contextual-region{

  }
}
/* RESPONSIVE */
@screen md {
  #block-toplinks{
    @apply block;
  }
  #block-tailwindcss-main-menu{
    @apply block;
  }
  #block-views-block-goles-home-block-1{
    @apply block;
  }
  #block-views-block-goles-home-block-2{
    @apply hidden;
  }
  #block-views-block-lo-ultimo-block-1{
    @apply block;
    .lo-ultimo-slider{
      @apply block;
    }
    .M-lo-ultimo-slider{
      @apply hidden;
    }
  }
}