.scrollbar-w-2::-webkit-scrollbar {
  width: .5rem !important;
  height: .5rem !important;
}

.scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
  border-radius: .25rem !important;
}

.scrollbar-thumb-gray::-webkit-scrollbar-thumb {
  @apply bg-secondary;
}

.scrollbar-track-gray-lighter::-webkit-scrollbar-track {
  @apply bg-gray-650;
}

.scrolling-touch {
  -webkit-overflow-scrolling: touch !important;
}