h2, .title {
  font-family: $font-title;
  @apply tw-text-4xl mb-4;
  @apply tw-text-primary tw-leading-none;
  @screen md {
    @apply mb-8;
  }
}

.title-article {
  font-family: $font-title;
  @apply tw-text-4xl mb-4;
  @apply tw-text-primary tw-leading-none;
}
h2.title-news {
  font-family: $font-title;
  @apply tw-text-3xl mb-4; 
  @apply tw-text-primary tw-leading-none;
  text-transform: none !important; 
  @screen md{
    @apply tw-text-5xl mb-4; 
  }
}
div#block-titulodelapagina {
  font-family: $font-title; 
  @apply tw-text-4xl mb-4;
  @apply tw-text-primary tw-leading-none;
  @screen md {
    @apply mb-8;
  }
}

h2 {
  @apply uppercase;
}

h3.title {
  @apply tw-text-3xl;
}

a {
  @apply text-primary;
}

.category {
  @apply mb-2;
  a {
    @apply text-primary uppercase text-xs flex items-center;
    &::before {
      display: inline-block;
      content: ' ';
      background: url(/themes/custom/tailwindcss/images/icons/plus-yellow.png) no-repeat;
      width: 25px;
      height: 20px;
    }
  }
}

.published_date {
  @apply text-primary text-sm flex items-center;
  &::before {
    display: inline-block;
    content: ' ';
    background: url(/themes/custom/tailwindcss/images/icons/clock.png) no-repeat;
    width: 20px;
    height: 14px;
  }
}

.lead {
  @apply text-primary;
}

.body {
  @apply text-primary leading-relaxed text-base;
  p {
    @apply my-4;
  }
  @screen md{
    @pply text-lg;
  }
}
.body{
  line-height: 1.3em !important; 
  @screen md{
    line-height: 1.5em !important; 
  }
}
.tags {
  @apply text-primary border-t border-b;
  .label {
    font-family: $font-title;
    @apply uppercase tracking-wide ;
  }

  div div {
    @apply flex flex-wrap;
    div {
      @apply whitespace-no-wrap;
    }

    a {
      @apply p-1 text-xs;
    }
  }
}

.comments {
  iframe {
    width: 100% !important;
  }
}
.font-title{
  font-family:$font-title;
}
.font-body{
  font-family:$font-body;
}