.mediastream.fixed-height {
    /*height: 550px !important;*/
    >div {
        /*height: 550px !important;*/
        margin-bottom: 1rem;
    }
}

.mediastream-player {
    .image {
        img {
            @apply w-full;
        }
    }
}

#block-views-block-videos-block-4 {
    margin-top: 1.3rem;
}

div[id*="block-views-block-videos-"] select,
div[id*="block-views-block-opinion-"] select {
    margin-bottom: 15px;
    padding: 0 25px;
    height: 35px;
    text-align: center;
    background-color: #c1c1c1;
}