.gol-partido.video-player{
  @apply relative;
  .image{
    img{
      opacity: 0.7;
      @apply w-full;
    }
  }
  .title{
    bottom: 30px;
    left: 30px;
    font-family: $font-body;
    @apply absolute text-white text-3xl leading-none font-semibold;
    a{
      @apply text-white;
    }
  }
  .torneo{
    @apply absolute text-white text-base leading-none font-semibold;
    top: -30px;
    a{
      @apply text-white;
    }
  }
}
.gol-partido.teaser{
  .image {
    img {
      @apply w-full;
    }
    .play-icon{
      
      
    }
  }
}
#block-views-block-goles-home-block-1{
  @apply border-b border-gray;
  .contextual-region{
    @apply flex flex-wrap;
    .views-row{
      @apply pr-4 w-2/3;
    }
    .views-element-container{
      @apply w-1/3;
      .views-row{
        @apply w-full;
      }
      >div{
       @apply flex flex-col h-full justify-between; 
      }
    }
  }
}
#block-views-block-equipos-del-home-block-1{
  .contextual-region{
    @apply flex justify-between items-center;
    img{
      @apply h-10 w-10;
    }
  }
}
#block-publicidad1-2,
#block-publicidad1{
  @apply mb-4;
}
.more-link{
  font-family: $font-title;
  @apply text-center w-full;
  a{
    @apply inline-block whitespace-no-wrap mb-6 text-center clear-both bg-secondary text-primary px-6 py-3 w-64 mt-4;
  }
}
.blocktabs{
  @apply mb-4;
  .ui-tabs-panel{
    @apply bg-gray;
    .views-row{
      @apply mb-4 bg-primary text-white;
      .views-field-title{
        a{
          @apply text-white;
        }
      }
    }
  }
  &.ui-widget-content{
    @apply border-0;
  }
  &.ui-widget{
    font-family: $font-body;
  }
  &.ui-tabs{
    @apply p-0;
  }
  .ui-widget-header.ui-tabs-nav.ui-corner-all{
    @apply border-0 bg-transparent rounded-none p-0 flex flex-no-wrap mb-2;
    .ui-tabs-tab{
      font-family: $font-title;
      @apply bg-gray-650 m-0 text-white border-0 rounded-none flex-1;
      a{
        @apply text-white tw-w-full text-center py-4;
      }
      &.ui-state-active{
        @apply bg-secondary p-0 m-0 border-0 rounded-none;
        a{
          @apply text-primary;
        }
      }
    }
  }
}
#block-views-block-nomina-block-1{
  @apply my-8;
  h2{
    @apply mb-10;
  }
/*   display: inline-block;
  .img-jugador{
    width: 8.333333%;
    min-height: 140px;
    float: left;
    margin-bottom: .5rem;
  } */
}
#block-views-block-videos-block-2{
  @apply my-8 pb-8;
  h2{
    @apply mb-10;
  }
}
#block-views-block-noticias-block-1{
  @apply my-8;
    h2{
    @apply mb-10;
  }
}

@screen sm {
  #block-views-block-videos-block-2{
    .sm--col--4{
      .views-row{
        @apply tw-grid tw-grid-cols-12 tw-items-center tw-mb-4;
        .views-field-field-image{
          @apply tw-col-span-5;
        }
        .views-field-title{
          @apply  tw-col-span-7 tw-text-sm tw-ml-4;
        }
      }
    }
  }
/*   .contextual-region {
    .views-row{
      @apply grid grid-cols-12 items-center;
    }
  } */
}