
#block-futbolcolombiano-estadisticas, .opta-widgets {
  @apply text-primary;
  .table-option {
    font-family: $font-title;
    @apply text-white font-light tracking-wide bg-gray-650;

    a {
      @apply text-white;

      &.is-active {
        @apply bg-secondary text-primary;
      }
    }
    &.menu {
      a {
        @apply capitalize text-center w-full px-4 py-6;
      }
    }

    &.active, &.is-active {
      @apply bg-secondary text-primary;
      a {
        @apply text-primary;
      }
    }
  }

  .phase {
    @apply text-primary;
    border-bottom: 4px solid transparent;

    &.active {
      @apply font-medium text-primary border-b-4 border-primary;
    }
  }

  .Opta > .Opta_W {
    @apply mt-0;
  }

  .Opta .Opta-Nav li a {
    @apply text-white bg-gray-650;
    font-family: $font-body;
  }
  .Opta-Wide .Opta-MatchHeader.Opta-MatchHeader-Crested td.Opta-Team{
    font-family: $font-title;
    @apply uppercase text-3xl text-primary;
  }

  .Opta .Opta-Nav li.Opta-On a {
    @apply bg-secondary text-primary;
  }

  .Opta .Opta_F_TR_N .Opta-Striped tbody tr.Opta-FeatureHeader td, .Opta .Opta_F_TR_N .Opta-Striped tbody tr.Opta-FeatureHeader th,
  .Opta .Opta-Ranking-Bars .Opta-FeatureHeader td, .Opta .Opta-Ranking-Bars .Opta-FeatureHeader th {
    @apply bg-secondary text-primary;
  }
  .Opta h2{
    @apply h-auto py-4 text-primary  bg-white;
    .Opta-Title {
      @apply text-3xl normal-case px-0;
    }
  }
}

article.id-3{
  #schedules{
    div.match-events{
      @apply tw-cursor-pointer pointer-events-auto;
    }
  }
}