@mixin buttons($background-color, $padding-left, $padding-rigth, $text-color) {
  text-align: center;

  a {
    background: $background-color;
    color: $text-color;
    display: inline-block;
    font-weight: 600;
    padding: $padding-left $padding-rigth;
  }

}
