//  $aling : 'left' or 'right' or 'center'
//  $text-transform :  'uppercase' or 'lowercase' or ...
//  $font-size: 0.6vw;

@mixin menu-items-align($align, $text-transform, $font-size, $color-font) {

  @if $align == center {
    display: inline-block;
    float: none;
    text-align: $align;
  }


  li {

    float: $align;

    a {
      color: $color-font;
      font-size: $font-size;
      text-transform: $text-transform;
    }
  }


}
