//   font-size: 0.9vw;
//   color: white;
//   font-weight: 600;
//   text-transform: capitalize;


h1,
h2,
h3,
h4,
{
  color: $win-title-color;
  font-weight: 600;
  text-transform: uppercase;
  font-family: $font-family-title;

  a {
    color: $win-title-color;
  }
}

.title-color{
  color: $win-title-color;
  a {
    color: $win-title-color;
  }
}
@mixin title-block($color, $font-size, $font-weight, $text-transform) {

  h2 {
    color: $color;
    font-size: $font-size;
    font-weight: $font-weight;
    text-transform: $text-transform;
  }

}
